#files {
    display: inline;
}
#awsKey, #awsRegion {
    width: 200px;
}
#s3Bucket {
    width: 250px;
}
#signerUrl {
    width: 350px;
}
label, input[type=radio], input[type=checkbox] { cursor: pointer }
.errors {
    color: #ff0000;
}
.progress-clock {
    min-width: 100px;
    min-height: 60px;
    width: 60px;
    float: left;
    text-align: center;


    border: black;
    border-width: 2px;
    border-style: dotted;
    padding: 3px;
    margin: 3px;
}

.progress-clock svg path 